<h1>Good Burger</h1>

<h3>Menu:</h3>
<ul>
    <li>Good Burger</li>
    <li>Chili Burger</li>
    <li>10th Anniversary Good Burger</li>
    <li>Good Shake</li>
    <li>Turbo Good Gulp</li>
</ul>

<h2>Welcome to Good Burger! Home of the Good Burger. Can I take your order?</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burga">Order Name:</label>
    <input type="text" id="burga" name="burger_name">
  </div>

  <button type="submit">Add Food</button>
</form>


<h2>Burgers that are not devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
        <li>
            {{burger_name}}
            <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
        </li>
    {{/if}}
  {{/each}}
</ul>